body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
}
.body {
  position: relative;
  padding: 40px 0 0 0;
}
.bg {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.body .container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 625px;
  transition: all 0.5s ease-out;
  padding: 0;
}
.body .container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgb(43, 33, 88);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar-menu {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  cursor: default;
}
.navbar-menu li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Silkscreen", cursive;
}
.navbar-menu li a {
  text-decoration: none;
  color: #e4dede;
  transition: all 0.2s ease-in-out;
}
.navbar-menu li a:hover {
  color: #9709aa;
  border-bottom: 3px solid #9709aa;
  padding-bottom: 5.5px;
}
.navbar-menu li .active:hover {
  text-decoration: none;
}
.navbar-menu li .active {
  color: #9709aa;
  border-bottom: 3px solid #9709aa;
  padding-bottom: 5.5px;
}

.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  cursor: default;
}
.mishket {
  cursor: auto;
  padding-left: 15px;
  display: inline-block;
  margin: 0;
  height: 56px;
  font-size: 60px;
  font-family: "Silkscreen", cursive;
  color: #9709aa;
  overflow: hidden;
  border-right: 0.17em solid #e29508;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.17em;
  animation: typing 1.7s steps(7, end), blink-caret 0.7s step-end infinite;
}
h1 {
  margin-bottom: 0;
}
.introduce img {
  width: 170px;
  height: 170px;
}
.enter {
  width: 100%;
  color: #9709aa;
  font-family: "Silkscreen", cursive;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.name-form {
  background-color: #29052e;
  height: 56px;
}

.character {
  display: inline-block;
  margin: 0;
  height: 56px;
  font-size: 60px;
  color: #9709aa;
}
.character p {
  font-family: "Pixelify Sans", cursive;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.character h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Silkscreen", cursive;
}
strong{
  font-family: "Silkscreen", cursive;
  color: #9709aa;
}

.description{
  border: 3px solid #55045e;
  background-color: #29052e;
  height: 90px;
  width: 300px;
}
.description p{
  margin-bottom: 0;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #9709aa;
  }
}
